<%- include('../partials/header'); %>
 
<div class="home-header">
    Our Star Meals
</div>

<!-- login form -->
<div class="page-body">
    <h3>Sign In</h3>
    <div class="form-container">
        <div class="col-xl-4 d-none d-xl-block">
            <img src="/public/Login.png" class="img-fluid" alt="Sample image">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-5 m-3">
                    <label for="userName" class="form-label">User Name</label>
                    <input type="text" id="userName" name="userName" required class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-5 m-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" id="password" name="password" required class="form-control" />
                </div>
            </div>


            <button type="button" class="btn btn-primary btn-block mb-6 m-3">LOGIN</button>


        </div>
    </div>
</div>



<%- include('../partials/footer'); %>