<%- include('../partials/header'); %>
<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">

                <!-------------     logo image     ------------->

                <!-- <img src="/public/Student-registration-form.jpg" alt="">
                    <div class="text">
                    </div> -->

            </div>
            <div class="col-md-6 right">
                <div class="input-box">

                    <header>LOGIN </header>
                    <hr>

                    <form>
                        <div class="form-group">
                            <label for="userName" class="form-label"></label>
                            <input type="text" id="userName" name="userName" placeholder="Enter Username" required
                                class="form-control" />
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="password" class="form-label"></label>
                            <input type="text" id="password" name="password" placeholder="Password" required
                                class="form-control" />
                        </div>


                        <div class="signin">
                            <input type="submit" class="submit" value="LOGIN">

                        </div>

                </div>
                </form>


            </div>
        </div>
    </div>
</div>
</div>




<%- include('../partials/footer'); %>