<%- include('../partials/header'); %>

<!-- login form -->
<div class="page-body">
	<h1 class="page-heading mb-3">Sign In</h1>

	<div class="<%= locals.classes ? classes : '' %>"><%= locals.message ? message : '' %></div>

	<div class="form-container-login mx-auto mt-3">
		<img src="/public/assets/pexels-photo-2882566.jpeg" class="" alt="Sample image" />

		<form action="/tap-canteen/auth/login-submit" method="post">
			<div class="row">
				<div class="col">
					<label for="userName" class="form-label">User Name</label>
					<input type="text" id="userName" name="userName" required class="form-control" />
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label for="" class="form-label">Password</label>
					<input type="password" id="" name="password" required class="form-control" />
				</div>
			</div>

			<div class="row mt-3">
				<div class="col">
					<button class="btn btn-primary w-100">Login</button>
				</div>
			</div>
		</form>
	</div>
</div>

<%- include('../partials/footer'); %>
