<%- include('../../partials/header') %>
<div class="page-body">
	<h1 class="page-heading">Delete Meal Schedule</h1>

	<div class="card mx-auto" style="width: 30rem">
		<div class="card-header">Featured</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">An item</li>
			<li class="list-group-item">A second item</li>
			<li class="list-group-item">A third item</li>
		</ul>
	</div>

    <div class="row">
        <div class="col">
            <a href="#" class="btn btn-secondary">Cancel</a>
            <a href="/tap-canteen/admin/delete-meal-schedule-submit/:id" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>

