<footer>
			<div class="footer-grid">
				<form action="" method="post">
					<span class="send-a-message">Send us a message</span>
					<div class="input-container">
						<label for="messenger-name">Name</label>
						<input type="text" name="messenger-name" placeholder="Han Solo" />
					</div>
					<div class="input-container">
						<label for="messenger-email">Email</label>
						<input type="email" name="messenger-email" placeholder="someone@mail.com" />
					</div>
					<div class="input-container">
						<label for="message">Message</label>
						<textarea name="message" class="message" cols="30" rows="5" maxlength="255" placeholder="Type message here"></textarea>
					</div>
				</form>

				<div class="footer-information">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Menu</a></li>
					</ul>
				</div>
			</div>

			<p class="copyright-text mt-3">&copy; some copyright text</p>
		</footer>

        <!-- BOOTSTRAP JS CDN LINK -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

		<!-- LOCAL SCRIPT FILE -->
		<script src="/util/script.js"></script>
	</body>
</html>
