    <footer>
        <div class="footer-grid">
            <form action="" method="post">
                <div class="input-container">
                    <label for="messenger-name">Name</label>
                    <input type="text" name="messenger-name" placeholder="Name">
                </div>
                <div class="input-container">
                    <label for="messenger-email">Email</label>
                    <input type="email" name="messenger-email" placeholder="someone@mail.com">
                </div>
                <div class="input-container">
                    <label for="message">message</label>
                    <textarea name="message" id="" cols="30" rows="10"></textarea>
                </div>
            </form>

            <div class="footer-information">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Menu</a></li>
                </ul>
            </div>
        </div>

        <p class="copyright-text">
            &copy; some copyright text
        </p>
    </footer>    
</body>
</html>