<button class="btn to-top-btn" onclick="toTop()"><i class="fi fi-sr-angle-circle-up"></i></button>

<!-- NEW FOOTER -->
<footer>
	<div class="page-body2">
		<div class="form-container-footer">
			<!-- <div class="container2"> -->
			<div class="col m-4">
				<h3>LEAVE US A MESSAGE</h3>
				<form name="contactform" method="post" action="" class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputName" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputName" name="inputName"
								placeholder="Your Name">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputEmail" name="inputEmail"
								placeholder="Your Email">
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Message</label>
						<div class="col-lg-10">
							<textarea class="form-control" rows="4" id="inputMessage" name="inputMessage"
								placeholder="Your message..."></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10 m-1">
							<button class="btn btn-dark px-5">
								Send Message
							</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	</div>

	<div class="space">
		<div class="footer2-information">
			<ul>
				<hr>
				<li><a href="/tap-canteen/about">About</a></li>
				<li><a href="/tap-canteen/contact">Contact</a></li>
				<li><a href="/tap-canteen/lunch-menu">Menu</a></li>
			</ul>
		</div>
	</div>

	<p class="copyright-text mt-3">&copy; some copyright text</p>
</footer>




<!-- BOOTSTRAP JS CDN LINK -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- LOCAL SCRIPT FILE -->
<script src="/util/script.js"></script>
</body>

</html>