<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= locals.title ? title : 'USF-AMBER-HEART TAP III LUNCH SYSTEM' %></title>

		<!-- GOOGLE FONTS LINK -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet" />

        <!-- FONT AWESOME CDN -->
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>

		<link rel="stylesheet" href="../../public/style.css" />
	</head>
	<body>
		<nav>
            <a href="#" class="logo">
                <img src="../../public/logo.png" alt="">
            </a>

            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <span>
                <a href="#">
                    <i class="fi fi-sr-user"></i>
                </a>
            </span>
        </nav>
