<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= locals.title ? title : 'USF-AMBER-HEART TAP III LUNCH SYSTEM' %></title>
		<!-- LOGO IN TAB -->

		<link rel="icon" type="image/png" href="/public/assets/logo.png" />

		<!-- GOOGLE FONTS LINK -->
		<!-- font-family: "Fredoka", sans-serif; -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet" />

		<!-- font-family: "Quicksand", sans-serif; -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />

		<!-- font-family: "Work Sans", sans-serif; -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

		<!-- font-family: "Bebas Neue", sans-serif; -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet" />

		<!-- FONT AWESOME CDN LINK -->
		<!-- FLATICON CDN LINK -->
		<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css" />
		<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css" />
		<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css" />
		<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css" />

		<!-- BOOTSTRAP CDN LINK -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />

		<!-- LOCAL STYLESHEET -->
		<link rel="stylesheet" href="/public/style.css" />
	</head>
	<body>
		<nav class="sticky-top" onscroll="changeAppearance()">
			<a href="/tap-canteen/" class="logo">
				<img src="/public/assets/logo.png" alt="logo" class="logo-img" />
			</a>

			<ul class="nav-menu-links">
				<li><a href="/tap-canteen/">Home</a></li>
				<li><a href="/tap-canteen/lunch-menu">Menu</a></li>
				<li><a href="/tap-canteen/about">About</a></li>
				<li><a href="/tap-canteen/contact">Contact</a></li>
				<% if ((locals.sessionData ? sessionData.isLoggedIn : false) && (locals.sessionData ? sessionData.role == 'ADMIN' : false)) { %>
				<li><a href="/tap-canteen/admin/schedules">Lunch Schedules</a></li>
				<% } %>
			</ul>

			<div class="user-interactions">
				<% if (locals.sessionData ? sessionData.isLoggedIn : false) { %>
				<span><%= locals.sessionData ? sessionData.name : '' %></span>
				<style>
					.signup-link {
						display: none;
					}
					nav .login-icon,
					.login-btn,
					.home-cta {
						display: none;
					}
				</style>
				<% } else { %>
				<style>
					.logout-link {
						display: none;
					}
				</style>
				<% } %>
				<!-- <span class="login-icon">
					<a href="/tap-canteen/auth/login">
						<i class="fi fi-sr-user"></i>
					</a> -->
				<a href="/tap-canteen/auth/login" class="btn btn-outline-primary login-btn px-3">Login</a>
				<!-- </span> -->

				<a href="/tap-canteen/auth/signup" class="btn btn-primary px-3 signup-link">Signup</a>
				<a href="/tap-canteen/auth/logout" class="btn btn-secondary px-3 logout-link">Logout</a>
			</div>
		</nav>
	</body>
</html>
