<tr>
    <td height="12"> </td>
</tr>
<tr>
    <td align="center">
        <a href="">
            <!-- Logo -->
            <img src="<%= logo %>" alt="logo"  width="250" height="80">
        </a>
    </td>
</tr>
<tr>
    <td height="12"> </td>
</tr>