<tr>
    <td height="12"> </td>
</tr>
<tr>
    <td align="center">
        <a href="http://localhost:4400/tap-canteen">
            <!-- Logo -->
            <img src="<%= logo %>" alt="logo"  width="150" height="150">
        </a>
    </td>
</tr>
<tr>
    <td height="12"> </td>
</tr>