<p>
    If you have any questions or need assistance, please feel free to contact us at tapmeals@tap.canteen or visit our contact
    page on the TAP III Lunch System website.
    
    Thank you again for joining us, and we look forward to serving you delicious meals!
</p>
<br>
<p>
    <strong>
        Kind Regards,
        TAP III Lunch System Team
    </strong>
</p>