<%-include('./partials/header'); %>

    <h1 class="page-heading">About us </h1>

<div class="contain">
    
    <div class="wrap">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
 
    <div class="text">
       <p><b>The Technology Advancement Programme (TAP)</b> is an initiative implemented by the Fund that engages unattached youths aged 18-29 over a period of twelve (12) months in ICT training and apprenticeship experience. The initiative is in keeping with the Fund’s mandate under the Telecommunications Act 2012 to <strong>“support information and communications technology programmes that specifically target vulnerable groups including youth and disabled persons”</strong>.</p>

        <p>In response to participant feedback and as part of their collaborative effort, the<strong> USF-AMBER-HEART TAP III program</strong> has introduced a subsidized lunch system at all remote locations hosting the TAP III program. This initiative aims to enhance accessibility and create an optimal learning environment by addressing the nutritional needs of participants. By ensuring access to nutritious meals, the program underscores its commitment to holistic support for youth development in information and communications technology.</p>

        <p>
            In addition to subsidizing lunches, the Technology Advancement Programme (TAP) offers<strong> personalized mentorship, networking opportunities with industry professionals, and access to cutting-edge technology resources</strong>. These elements enrich the learning experience and equip participants with practical skills and valuable connections for their future careers in ICT. TAP also organizes regular workshops and seminars on emerging trends in the field, ensuring that participants stay up-to-date with the latest developments. Through these comprehensive offerings, TAP empowers young adults to thrive in the ever-evolving landscape of information and communications technology.</p>
    </div>

</div>





<%-include('./partials/footer'); %>