<%-include('../partials/header'); %>

<section class="page-body">
	<h1 class="page-heading">Menu</h1>

    <span class="h1 mb-3"><%= locals.title ? title : 'TAP Canteen' %></span>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Location Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th class="action">View on Map</th>
            </tr>
        </thead>
        <tbody>

<%-include('../partials/footer'); %>