<%-include('./partials/header'); %>

<section class="page-body">
	<h1 class="page-heading">Contact Us</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Location Name</th>
				<th>Address</th>
				<th>Email</th>
				<th>Phone</th>
				<th class="action">View on Map</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Youth Innovation Center</td>
				<td>May Pen</td>
				<td>yicmaypen@gmail.com</td>
				<td>876-986-5757</td>
			</tr>
		</tbody>
	</table>
</section>
<%-include('./partials/footer'); %>
