<%- include('./partials/header') %>
<div class="p-5 text-center bg-image rounded-3" style="
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIO7cx1MvDMEbtG3sB70q7jpxGfLsb9NiGYw&usqp=CAU');
        height: 300px;
      ">
    <!-- <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);"> -->
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-black">
            <h1 class="mb-3">WELCOME</h1>
            <!-- <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> -->
        </div>
    </div>
</div>
</div>
<!--end Hero -->


<div class="header">
    Our Star Meals 
</div>

<!-- card container -->






<%- include('./partials/footer') %>