<%- include('./partials/header') %>
<section class="page-body">
	<h1 class="page-heading">Menu</h1>
	<div class="menu-card-container">
		<div class="menu-card">
			<div class="card-img"></div>
			<span class="menu-item-name">A Meal Name</span>
			<span class="item-quantity">Qty: 12</span>
			<span class="item-description">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quo iure voluptas ducimus reprehenderit amet, repellat veniam delectus, ab reiciendis culpa iste illum? Sit
				voluptates aperiam vero sint perferendis ipsam.
			</span>
			<div class="card-buttons">
				<div class="admin-buttons">
					<a href="#" class="btn item-card-view">View Item</a>
					<a href="#" class="btn item-card-edit">Edit Item</a>
					<a href="#" class="btn item-card-delete">Delete Item</a>
				</div>
				<div class="user-buttons">
					<a href="#" class="btn item-card-select-meal">Select Meal</a>
				</div>
			</div>
		</div>
		<div class="menu-card">
			<div class="card-img"></div>
			<span class="menu-item-name">A Meal Name</span>
			<span class="item-quantity">Qty: 12</span>
			<span class="item-description">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quo iure voluptas ducimus reprehenderit amet, repellat veniam delectus, ab reiciendis culpa iste illum? Sit
				voluptates aperiam vero sint perferendis ipsam.
			</span>
			<div class="card-buttons">
				<div class="admin-buttons">
					<a href="#" class="btn item-card-view">View Item</a>
					<a href="#" class="btn item-card-edit">Edit Item</a>
					<a href="#" class="btn item-card-delete">Delete Item</a>
				</div>
				<div class="user-buttons">
					<a href="#" class="btn item-card-select-meal">Select Meal</a>
				</div>
			</div>
		</div>
		<div class="menu-card">
			<div class="card-img"></div>
			<span class="menu-item-name">A Meal Name</span>
			<span class="item-quantity">Qty: 12</span>
			<span class="item-description">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quo iure voluptas ducimus reprehenderit amet, repellat veniam delectus, ab reiciendis culpa iste illum? Sit
				voluptates aperiam vero sint perferendis ipsam.
			</span>
			<div class="card-buttons">
				<div class="admin-buttons">
					<a href="#" class="btn item-card-view">View Item</a>
					<a href="#" class="btn item-card-edit">Edit Item</a>
					<a href="#" class="btn item-card-delete">Delete Item</a>
				</div>
				<div class="user-buttons">
					<a href="#" class="btn item-card-select-meal">Select Meal</a>
				</div>
			</div>
		</div>
		<div class="menu-card">
			<div class="card-img"></div>
			<span class="menu-item-name">A Meal Name</span>
			<span class="item-quantity">Qty: 12</span>
			<span class="item-description">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quo iure voluptas ducimus reprehenderit amet, repellat veniam delectus, ab reiciendis culpa iste illum? Sit
				voluptates aperiam vero sint perferendis ipsam.
			</span>
			<div class="card-buttons">
				<div class="admin-buttons">
					<a href="#" class="btn item-card-view">View Item</a>
					<a href="#" class="btn item-card-edit">Edit Item</a>
					<a href="#" class="btn item-card-delete">Delete Item</a>
				</div>
				<div class="user-buttons">
					<a href="#" class="btn item-card-select-meal">Select Meal</a>
				</div>
			</div>
		</div>

		<a href="" class="new-item">
			<i class="fi fi-sr-add"></i>
		</a>
	</div>
</section>
<%- include('./partials/footer') %>
