:root {
    --crimson: #F94144;
    --vermillion-orange: #F3722C;
    --orange-peel: #F8961E;
    --pumpkin-orange: #F9844A;
    --gold-amber: #F9C74F;
    --medium-olive-green: #90BE6D;
    --torquoise: #43AA8B;
    --teal-green: #4D908E;
    --steel-blue: #577590;
    --dark-cyan-blue: #277DA1;
}